<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비트포비아 던전 예약하기(루나강남)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <style>
        strong {
            border: 1px solid black;
        }

        #res1 {
            border: 1px solid black;
        }

        #all {
            border: 1px solid black;
        }
        #container{
            margin-top: 100px;
            border: 1px solid black;
        }

        .list-group-btn {
            background-color: white;

            border: none;
            width: 100%;
            text-align: center;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .list-group-btn a {
            text-decoration: none;
            color: black;
        }

        .list-group-btn:hover {
            background-color: orange;
        }

        .time-link {
            color: black;
            text-decoration: none;
        }

        .time-link:hover {
            background-color: orange;
        }

        .list-group-item {
            padding: 0;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .list-unstyled {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>

    <script>
        // 현재 날짜
        function getCurrentDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
        }
        //   window.onload : 페이지가 완전히 로드된 후 실행되는 이벤트 핸들러
        window.onload = function () {
            document.getElementById('date').value = getCurrentDate();
        }

    </script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/bootstrap.bundle.js"></script>
</head>

<body>
<div id="container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 bg-secondary bg-opacity-25" id="all">
                <h4 class="text-center mb-5 p-4"><b>RESERVATION</b></h4>
                <div class="container mt-5">
                    <div class="row">
                        <ul class="list-group center mb-5 p-4 ">
                            <li class="list-group-item">
                                <button type="submit" class="list-group-btn"><a href="/hongdae" id="hongdae">홍대던전</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/hongdaetwo" id="hongdaetwo">홍대던전Ⅲ</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/gangnam" id="gangname">강남던전</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/gangnamtwo"id="gangnametwo">강남던전Ⅱ</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/gangnamluna"id="luna">던전루나(강남)</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/busan" id="busan">서면던전(부산)</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="/busanred" id="busanred">서면던전 레드(부산)</a></button>
                            </li>
                            <li class="list-group-item mt-5">
                                <button class="list-group-btn"><a href="#">던전101</a></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="container text-center">
                    <div class="row row-cols-3">
                        <div class="col-3" style="background-color: chocolate;">예약하기</div>
                        <div class="col-3">예약정보입력</div>
                        <div class="col-3">결제하기</div>
                        <div class="col-3">예약완료</div>
                    </div>
                    <br><br>
                </div>
                <form class="mb-5">
                    <input type="date" id="date">
                </form>
                <div class="col-3">
                    <div class="d-flex">
                        <div class="d-flex flex-column align-items-center">
                            <img src="#" style="width: 180px;">
                            <strong>던전 제목1</strong>
                        </div>
                        <ul id="time" class="d-flex col-6 list-unstyled text-center my-5 p-4">
                            <li class="border solid 1px m-3 p-2"><a href="" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="" class="time-link">12:00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex">
                        <div class="flex-column align-items-center">
                            <img src="#" style="width: 180px;">
                            <strong>던전 제목2</strong>
                        </div>
                        <ul class="d-flex col-6 list-unstyled text-center my-5 p-4">
                            <li class="border solid 1px m-3 p-2"><a href="#" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="#" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="#" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="#" class="time-link">12:00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex">
                        <div class="flex-column align-items-center">
                            <img src="C:\fullstack405\img\테마3.png" style="width: 180px;">
                            <strong>던전 제목3</strong>
                        </div>
                        <ul class="d-flex col-6 list-unstyled text-center my-5 p-4">
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex">
                        <div class="d-flex flex-column align-items-center">
                            <img src="C:\fullstack405\img\테마1.png" style="width: 180px;">
                            <strong>던전 제목4</strong>
                        </div>
                        <ul class="d-flex col-6 list-unstyled text-center my-5 p-4">
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                            <li class="border solid 1px m-3 p-2"><a href="res1.html" class="time-link">12:00</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>입장 제한 및 환불불가 안내</h3>
        <div>
            <ul>
                <li><b>1.지각 및 NO SHOW</b>
                    <P>테마는 시간대 별 예약으로 진행되어, 최소 테마 시작 10분 전 도착하여야 합니다. NO SHOW(불참)의 경우 환불 불가합니다.</P>
                </li>
                <li><b>2. 과도한 음주자</b>
                    <p>과도한 음주 후 플레이는 입장이 제한될 수 있습니다.</p>
                </li>
                <li><b>3. 폐쇄공포증 및 심장 질환자, 임산부</b>
                    <p>게임 진행 공간은 해당 테마에 맞춰 최대한 리얼리티를 살리도록 설계 되었습니다.</p>
                    <p>경우에 따라 공간이 폐쇄되어 갇히거나 놀라는 연출이 있을 수 있으므로 관련된 질병이나 신체 장애가 있는 분들은 예약 전 각 매장으로 문의 부탁드립니다.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>