<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<footer class="mt-5 p-5 border-top border-2" th:fragment="footer">
    <div class="container-fluid">
        <p class="text-center lead text-muted">부산 부산진구 동성로 137 fullstack 405</p>
        <p class="text-center lead text-muted">0507-1368-4894</p>
        <p class="text-center lead text-muted">http://go.busanitacademy.com</p>
        <p class="text-center lead text-muted">made by fullstack405</p>
    </div>
</footer>
</body>
</html>