<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">


<nav class="navbar navbar-expand navbar-light bg-light container-fluid fixed-top justify-content-between">
    <div>
        <a class="navbar-brand ms-3" href="/themepopup2" target="_self">
            <img src="https://xdungeon.net/layout/images/common/logo.png">
        </a>
    </div>
    <!-- 네비게이션 메뉴 -->
    <!-- 메뉴 1 -->
    <div>
        <ul class="navbar-nav me-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    RESERVATION
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">에약 안내</a></li>
                    <li><a class="dropdown-item" href="/hongdae/1" target="_self">예약 하기</a></li>
                    <li><a class="dropdown-item" href="#">예약 확인</a></li>
                </ul>
            </li>

            <!-- 메뉴 2 -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    NOTICE
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="notice_NOTICE.html">NOTICE</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="notice_FAQ.html">FAQ</a>
                    </li>
                </ul>
            </li>

            <!-- 메뉴 3 -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    COMM
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="commList.html">COMM</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="reviewList.html">REVIEW</a>
                    </li>
                </ul>
            </li>
            <!-- 메뉴 4 -->
            <li class="nav-item">
                <a class="nav-link" href="/locationMain" target="_self">LOCATION</a>
            </li>

            <!-- 메뉴 5 -->
            <li class="nav-item">
                <a class="nav-link" href="/profile" target="_self">MY PAGE</a>
            </li>

            <li class="nav-item">
                <a href="/user/login" class="nav-link">로그인</a>
            </li>
        </ul>
    </div>
</nav>
</header>
</body>
</html>