<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
<section id="profile1" class="container mt-5">
    <h1 class="text-center">PROFILE</h1>
    <div class="border border-3">
        <h3 class="text-center">계정 정보</h3>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-sm-4">
                <form action="#">
                    <div class="form-floating">
                        <label for="username">이름</label>
                        <input type="text" class="form-control" id="username" name="userName" placeholder="이름" readonly>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="usernickname" name="userId" placeholder="닉네임">
                        <label for="usernickname">닉네임</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userid" name="userId" placeholder="아이디" readonly>
                        <label for="userid">아이디</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userpw" name="userPw" placeholder="비밀번호">
                        <label for="userpw">비밀번호</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="usergender" name="userGender" placeholder="성별" readonly>
                        <label for="usergender">성별</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userage" name="userAge" placeholder="나이" readonly>
                        <label for="userage">나이</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="useremail" name="userEmail" placeholder="이메일">
                        <label for="useremail">이메일</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userphone" name="userPhone" placeholder="전화번호">
                        <label for="userid">전화번호</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a href="#" class="d-grid gap-2 col-6 mx-auto mt-5">
            <button type="button" class="btn btn-primary">수정완료</button>
        </a>
    </div>

</section>
</body>
</html>
