<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <style>
        .img_box {
            display: block;
            transition: transform 0.3s ease; /* 부드러운 애니메이션 효과 */
            margin:5px;border:#FFF 2px solid;
        }

        .img_box:hover {
            border:#F00 3px solid;
            transform: translateY(-15px); /* 이미지가 위로 15px 이동 */
        }

    </style>
</head>
<body>
<h1 class="text-center">LOCATION</h1>
<hr>
<main>
<div class="container mt-5">
    <div class="row">
        <div class="col mx-auto" >
            <a href="./locationpopup.html">
                <img src="../img/theme01.png" class="img_box" alt="홍대던전">
            </a>
        </div>
        <div class="col mx-auto">
            <a href="">
                <img src="../img/theme01.png" class="img_box" alt="홍대던전">
            </a>
        </div>
        <div class="col mx-auto">
            <img src="../img/theme01.png" alt="홍대던전">
        </div>
        <div class="col mx-auto">
            <img src="../img/theme01.png" alt="홍대던전">
        </div>
    </div>
</div>

    <div>
        <dl>
            <dd th:text="${}"></dd>
        </dl>
    </div>
</main>

<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>