<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>

    <style>
        dl{
            display: flex;
        }
        dd{
            margin-left:10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">테마 팝업</h1>
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div class="border border-3">
                <div class="row my-5 mx-5" style="height: 400px;">
                    <div class="col-5 bg-warning">사진</div>
                    <div class="col-7 bg-info">
                        <dl>
                            <dt>지점명</dt>
                            <dd>던전101</dd>
                        </dl>
                        <dl>
                            <dt>영업시간</dt>
                            <dd>평일 : 10:00 ~ 24:00</dd>
                        </dl>
                        <dl>
                            <dt>전화번호</dt>
                            <dd>02-3144-2342</dd>
                        </dl>
                        <dl>
                            <dt>주소</dt>
                            <dd>서울 마포구 와우산로 74, 2층</dd>
                        </dl>
                        <dl>
                            <dt>예약오픈시간</dt>
                            <dd>매일 14:00</dd>
                        </dl>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-primary">예약</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>